@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    List<Models.ReportRow> reportData = (List<Models.ReportRow>)ViewData["SubsEnding"];
    if (reportData == null)
    {
        reportData = new List<Models.ReportRow>();
    }
}

@{
@*<div id="info-div">
    <div class="page-heading">
        Subscriptions ending in 12 months
    </div>
    <div class="clearfix"></div>

    <table class="table table-borderless table-success table-striped info-table">
        <thead>
            <tr>
                <th>User</th>
                <th>Service</th>
                <th>Months</th>
                <th>Started On</th>
                <th>Expires On</th>
                <th>Amount Paid</th>
                <th>Ending In</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (dynamic x in reportData)
                {
                    <tr>
                        <td>@x.GetItem("UserName")</td>
                        <td>@x.GetItem("ServiceName")</td>
                        <td>@x.GetItem("NumMonths")</td>
                        <td>@x.GetItem("StartDate")</td>
                        <td>@x.GetItem("ExpiredAt")</td>
                        <td>@x.GetItem("AmountPaid")</td>
                        <td>@x.GetItem("EndingIn") days</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>*@
}
