@page
@model ZiadBooking.Pages.PackagesModel
@{
    ViewData["Title"] = "Packages";
}

<h2>Packages</h2>

@{ 
    List<Models.Package> packages = (List<Models.Package>)ViewData["Packages"];
    if (packages == null)
    {
        packages = new List<Models.Package>();
    }
}

<div class="add-new-container" style="margin-bottom: 15px;text-align: right">
    <a href="Package">+Add New Package</a>
</div>

<table class="table table-bordered table-success table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Duration</th>
            <th>Amount</th>
            <th>Location</th>
            <th>Lat/Lng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var u in packages)
            {
                <tr>
                    <td>
                        @{ 
                            if (!string.IsNullOrEmpty(u.ImageUrl))
                            {
                                <img src="@u.ImageUrl" style="width: 60px;" />
                            }
                        }
                    </td>
                    <td>@u.Title</td>
                    <td>@(u.NumMonths) month(s)</td>
                    <td>@u.Amount</td>
                    <td>@u.LocationText</td>
                    <td>
                        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@(u.Latitude),@(u.Longitude)">
                            @(u.Latitude),@(u.Longitude)
                        </a>
                    </td>
                    <td>
                        <a href="/Package?id=@u.Id">Edit</a>
                        &nbsp;&nbsp;
                        <a href="/Package?id=@(u.Id)&action=delete" onclick="return confirm('Are you sure you want to delete?');" style="color:#FF0000;">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>