@page
@model ZiadBooking.Pages.ReceptionModel
@{
    ViewData["Title"] = "Reception";
    string userName = "";
    if (ViewData["UserName"] != null)
    {
        userName = (string)ViewData["UserName"];
    }
}

@{
    if (ViewData["Message"] != null)
    {
        <div class="error-msg">
            @ViewData["Message"].ToString()
        </div>
    }
}

@{
    List<Models.Reservation> reservations = (List<Models.Reservation>)ViewData["Reservations"];
    if (reservations == null)
    {
        reservations = new List<Models.Reservation>();
    }
    List<Models.UserSubscription> subscriptions = (List<Models.UserSubscription>)ViewData["Subscriptions"];
    if (subscriptions == null)
    {
        subscriptions = new List<Models.UserSubscription>();
    }
    List<Models.GenericModel> family = (List<Models.GenericModel>)ViewData["Family"];
    if (family == null)
    {
        family = new List<Models.GenericModel>();
    }
}

        <div id="info-div">

            <div class="page-heading">Search User</div>
            <div class="clearfix"></div>
            <form method="post">
                <input type="text" autocomplete="off" class="form-control" name="name" value="@userName" placeholder="Full name or email of user" />
                <button class="btn btn-success btn-block" style="margin-top: 15px;">Search</button>
            </form>

            @{
                if (ViewData["User"] != null)
                {
                    Models.User usr = (Models.User)ViewData["User"];


<div class="page-heading">Personal Details</div><div class="clearfix"></div><table class="table table-bordered table-success table-striped info-table">
                        <thead>
                            <tr>
                                <th>Profile Image</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (usr.isActive)
                            {
                                <tr>
                                    <td>
                                        @if (usr.ProfilePicUrl.CompareTo("") != 0)
                                        {
                                            <img src="@usr.ProfilePicUrl" style="width: 60px;" />
                                        }
                                    </td>
                                    <td>@usr.Name</td>
                                    <td>@usr.Email</td>
                                    <td>@usr.PhoneNumber</td>



                                    <td></td>





                                </tr>
                            }
                            else if (!usr.isActive)
                            {
                                <tr style="background-color:red;font-weight:bold">
                                    <td>
                                        @if (usr.ProfilePicUrl.CompareTo("") != 0)
                                        {
                                            <img src="@usr.ProfilePicUrl" style="width: 60px;" />
                                        }
                                    </td>
                                    <td>@usr.Name</td>
                                    <td>@usr.Email</td>
                                    <td>@usr.PhoneNumber</td>

                                    <td>InActive</td>




                                </tr>
                            }
                            else if (!usr.isSuspended)
                            {
                                <tr>
                                    <td>
                                        @if (usr.ProfilePicUrl.CompareTo("") != 0)
                                        {
                                            <img src="@usr.ProfilePicUrl" style="width: 60px;" />
                                        }
                                    </td>
                                    <td>@usr.Name</td>
                                    <td>@usr.Email</td>
                                    <td>@usr.PhoneNumber</td>



                                    <td></td>





                                </tr>
                            }
                            else if (usr.isSuspended)
                            {
                                <tr style="background-color:red;font-weight:bold">
                                    <td>
                                        @if (usr.ProfilePicUrl.CompareTo("") != 0)
                                        {
                                            <img src="@usr.ProfilePicUrl" style="width: 60px;" />
                                        }
                                    </td>
                                    <td>@usr.Name</td>
                                    <td>@usr.Email</td>
                                    <td>@usr.PhoneNumber</td>

                                    <td>Suspended</td>




                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="page-heading">Subscriptions</div>
                    <div class="clearfix"></div>

                    <table class="table table-bordered table-success table-striped info-table">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Start (YYYY-MM-DD)</th>
                                <th>Months</th>
                                <th>Expires At</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var x in subscriptions)
                                {
                                    string color = "#00FF00";
                                    if (x.ExpiredAt.Contains("EXPIRED"))
                                    {
                                        color = "#FF0000";
                                    }
                                    <tr>
                                        <td>@x.ServiceName</td>
                                        <td>@x.StartDate</td>
                                        <td>@x.NumMonths</td>
                                        <td><span style="color:@(color);font-weight: 600;">@(x.ExpiredAt)</span></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <div class="page-heading">Reservations &nbsp;&nbsp; <a href="/Reservation?user_id=@usr.Id">Add New Reservation</a> </div><div class="clearfix"></div><table class="table table-bordered table-success table-striped info-table">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>User</th>
                                <th>From</th>
                                <th>Till</th>
                                <th>Hours</th>
                                <th>Reserved On</th>
                                <th>Checkin At</th>
                                <th>Checkout At</th>
                                <th>Edit</th>
                                <th colspan="2">Check In/Out</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ if (reservations.Count > 0)
                                {
                                    foreach (var x in reservations)
                                    {
                                        <tr>
                                            <td>@x.ServiceName</td>
                                            <td>@x.UserName</td>
                                            <td>@x.StartDate</td>
                                            <td>@x.EndDate</td>
                                            <td>@x.NumHours</td>
                                            <td>@x.ReserveDate</td>
                                            <td>@x.CheckinAtDate</td>
                                            <td>@x.CheckoutAtDate</td>
                                            <td><a href="/Reservation?Id=@x.Id&user_id=@x.UserId">Edit</a></td>
                                            <td>
                                                @if (usr.isActive)
                                                {

                                                    @if (string.IsNullOrEmpty(x.CheckinAtDate) || !string.IsNullOrEmpty(x.CheckoutAtDate))
                                                    {
                                                        <form method="post">
                                                            <input type="hidden" value="@x.Id" name="reservation_id" />
                                                            <input type="hidden" value="checkin" name="status" />
                                                            <input type="hidden" value="@usr.Name" name="name" />
                                                            <button type="submit">CHECKIN</button>
                                                        </form>

                                                    }
                                                    else
                                                    { <button disabled type="button">CHECKIN</button>}
                                                }
                                                else
                                                { <button disabled type="button">CHECKIN</button>}


                                            </td>
                                            <td>
                                                @if (usr.isActive)
                                                {
                                                    @if (!string.IsNullOrEmpty(x.CheckinAtDate) || string.IsNullOrEmpty(x.CheckoutAtDate))
                                                    {
                                                        <form method="post">
                                                            <input type="hidden" value="@x.Id" name="reservation_id" />
                                                            <input type="hidden" value="checkout" name="status" />
                                                            <input type="hidden" value="@usr.Name" name="name" />
                                                            <button type="submit">CHECKOUT</button>
                                                        </form>
                                                    }
                                                    else
                                                    { <button disabled type="button">CHECKOUT</button>}
                                                }
                                                else
                                                { <button disabled type="button">CHECKOUT</button>}





                                            </td>

                                        </tr>
                                    }
                                }
                                else
                                {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button disabled type="button">CHECKIN</button>
                                <button disabled type="button">CHECKOUT</button>
                            </td>
                        </tr>
                                        }

                                        }
                                </tbody>
                    </table>

                    <div class="page-heading">Family</div>
                    <div class="clearfix"></div>

                    <table class="table table-bordered table-success table-striped info-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Relation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var x in family)
                                {
                                    <tr>
                                        <td>@x.values["name"].ToString()</td>
                                        <td>@x.values["email"].ToString()</td>
                                        <td>@x.values["phone_number"].ToString()</td>
                                        <td>@x.values["relation"].ToString().ToUpper()</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            }
        </div>