@page
@model ZiadBooking.Pages.ReservationsModel
@{
    ViewData["Title"] = "Reservations";
}

@{
    if (ViewData["Message"] != null)
    {
        <div class="error-msg">
            @ViewData["Message"].ToString()
        </div>
    }
}

@{
    List<Models.Reservation> reservations = (List<Models.Reservation>)ViewData["Reservations"];
    if (reservations == null)
    {
        reservations = new List<Models.Reservation>();
    }
}

<h2>Reservations</h2>


<table class="table table-bordered table-success table-striped">
    <thead>
        <tr>
            <th>Service</th>
            <th>User</th>
            <th>From</th>
            <th>Till</th>
            <th>Hours</th>
            <th>Location</th>
            <th>Reserved On</th>
            <th>Checkin</th>
            <th>Checkout</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var x in reservations)
            {
                <tr>
                    <td>@x.ServiceName</td>
                    <td>@x.UserName</td>
                    <td>@x.StartDate</td>
                    <td>@x.EndDate</td>
                    <td>@x.NumHours</td>
                    <td>
                        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@(x.Latitude),@(x.Longitude)">
                            @(x.Latitude),@(x.Longitude)
                        </a>
                    </td>
                    <td>@x.ReserveDate</td>
                    <td>@x.CheckinAtDate</td>
                    <td>@x.CheckoutAtDate</td>
                </tr>
            }
        }
    </tbody>
</table>