@page
@model ZiadBooking.Pages.UsersModel
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Inputs
<style>
    .image img {
        height: 55px;
        width: 55px;
        /*border-radius: 50px;*/
        /*box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);*/
    }
</style>
@{
    ViewData["Title"] = "Reservations";
}

@{
    List<Models.User> users = (List<Models.User>)ViewData["Users"];
    List<object> commands = new List<object>();
    commands.Add(new { type = "Edit", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "e-flat" } });
    commands.Add(new { type = "Delete", buttonOption = new { iconCss = "e-icons e-delete", cssClass = "e-flat" } });
}
<style>
    .lnk {
        color: blue !important;
        text-decoration: underline !important;
    }
</style>
<div id="info-div">

    <div class="switch-buttons">
        <a data-toggle="tab" href="#users">Active Users</a>
        <a data-toggle="tab" href="#inActiveUsers">InActive Users</a>
        <a data-toggle="tab" href="#newUsers">New Users</a>
        <a data-toggle="tab" href="#allUsers">All Users</a>
        
        @*<a data-toggle="tab" href="#services">Services</a>
            <a data-toggle="tab" href="#packages">Packages</a>*@
        @{
            List<Models.SubscriptionRequest> srequests = (List<Models.SubscriptionRequest>)ViewData["SubscriptionRequests"];
            if (srequests == null)
            {
                srequests = new List<Models.SubscriptionRequest>();
            }
            if (srequests.Count == 0)
            {
                <a data-toggle="tab" href="#requests">Subscription Requests</a>
            }
            else
            {
                <a data-toggle="tab" href="#requests" style="background-color:#ffd800;">Subscription Requests</a>
            }
    <div class="col-md-4" style="float:right">
        @Html.EJS().TextBox("filled").Placeholder("Search").Change("txtChange").CssClass("e-filled").FloatLabelType(FloatLabelType.Auto).Render()
    </div>
        }
        @*<input type="text" id="findUser" onkeyup="funcLoadTable()" class="form-control" placeholder="Search by Name" style="width:300px;float:right" />*@
    </div>

    <!--<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#users">Users</a></li>
        <li><a data-toggle="tab" href="#services">Services</a></li>
        <li><a data-toggle="tab" href="#packages">Packages</a></li>
        <li><a data-toggle="tab" href="#requests">Subscription Requests  identification_image</a></li>
    </ul>-->

    <div class="tab-content">
        <div id="users" class="tab-pane fade in active">
            <div class="page-heading">Active Users</div>
            <div class="add-new-container">
                <a href="User">+Add New User</a>
            </div>
            <div class="clearfix"></div>
            <div class="control-section">
                @Html.EJS().Grid("Search").DetailTemplate("#detailtemplate").DetailDataBound("detailDataBound").DataSource((IEnumerable<object>)users.Where(u => u.isSuspended.Equals(false) && u.subscription > 0).ToList()).CommandClick("cmdClick").Columns(col =>
           {
               col.Field("ProfilePicUrl").Template("#imageURL").HeaderText("User Image").Add();
               col.Field("identification_image").Template("#idImage").HeaderText("Identification Image").Add();
               col.Field("Name").HeaderText("Name").Add();
               col.Field("Email").HeaderText("Email").Add();
               col.Field("language").HeaderText("Language").Add();
               col.Field("DateOfBirth").HeaderText("Date of Birth").Add();
               col.HeaderText("Subscribed").Template("#subscribed").Add();
               
               col.HeaderText("Subscriptions").Template("#subscription").Add();
               col.Field("Actions").Commands(commands).Add();
           }).AllowPaging().PageSettings(page => page.PageCount(2)).Toolbar(new List<string>() { "Search" }).Render()
            </div>


        </div>



        <div id="inActiveUsers" class="tab-pane fade in ">
            <div class="page-heading">InActive Users</div>

            <div class="clearfix"></div>
            <div class="control-section">
                @Html.EJS().Grid("InActiveUsersTable").DetailTemplate("#detailtemplate").DetailDataBound("detailDataBound").DataSource((IEnumerable<object>)users.Where(u => u.isSuspended.Equals(true)).ToList()).CommandClick("cmdClick").Columns(col =>
           {
               col.Field("ProfilePicUrl").Template("#imageURL").HeaderText("User Image").Add();
               col.Field("identification_image").Template("#idImage").HeaderText("Identification Image").Add();
               col.Field("Name").HeaderText("Name").Add();
               col.Field("Email").HeaderText("Email").Add();
               col.Field("language").HeaderText("Language").Add();
               col.Field("DateOfBirth").HeaderText("Date of Birth").Add();
               col.HeaderText("Subscribed").Template("#unSubscribed").Add();
               
               col.HeaderText("Subscriptions").Template("#subscription").Add();
               col.Field("Actions").Commands(commands).Add();
           }).AllowPaging().PageSettings(page => page.PageCount(2)).Toolbar(new List<string>() { "Search" }).Render()
            </div>


        </div>

        <div id="newUsers" class="tab-pane fade in ">
            <div class="page-heading">New Users</div>

            <div class="clearfix"></div>
            <div class="control-section">
                @Html.EJS().Grid("NewUsersTable").DetailTemplate("#detailtemplate").DetailDataBound("detailDataBound").DataSource((IEnumerable<object>)users.Where(u => u.subscription == 0 && u.isSuspended==false).ToList()).CommandClick("cmdClick").Columns(col =>
           {
               col.Field("ProfilePicUrl").Template("#imageURL").HeaderText("User Image").Add();
               col.Field("identification_image").Template("#idImage").HeaderText("Identification Image").Add();
               col.Field("Name").HeaderText("Name").Add();
               col.Field("Email").HeaderText("Email").Add();
               col.Field("language").HeaderText("Language").Add();
               col.Field("DateOfBirth").HeaderText("Date of Birth").Add();
               col.HeaderText("Subscribed").Template("#unSubscribed").Add();
               
               col.HeaderText("Subscriptions").Template("#subscription").Add();
               col.Field("Actions").Commands(commands).Add();
           }).AllowPaging().PageSettings(page => page.PageCount(2)).AllowGrouping(true).AllowSorting(true).Toolbar(new List<string>() { "Search" }).Render()
            </div>


        </div>
        <div id="allUsers" class="tab-pane fade in ">
            <div class="page-heading">Users</div>

            <div class="clearfix"></div>
            <div class="control-section">
                @Html.EJS().Grid("AllUsers").DetailTemplate("#detailtemplate").DetailDataBound("detailDataBound").DataSource((IEnumerable<object>)users.ToList()).CommandClick("cmdClick").Columns(col =>
           {
               col.Field("ProfilePicUrl").Template("#imageURL").HeaderText("User Image").Add();
               col.Field("identification_image").Template("#idImage").HeaderText("Identification Image").Add();
               col.Field("Name").HeaderText("Name").Add();
               col.Field("Email").HeaderText("Email").Add();
               col.Field("language").HeaderText("Language").Add();
               col.Field("DateOfBirth").HeaderText("Date of Birth").Add();
               
               
               col.HeaderText("Subscriptions").Template("#subscription").Add();
               col.Field("Actions").Commands(commands).Add();
           }).AllowPaging().PageSettings(page => page.PageCount(2)).Render()
            </div>


        </div>
        <div id="requests" class="tab-pane fade in">
            @{
                List<Models.SubscriptionRequest> requests = (List<Models.SubscriptionRequest>)ViewData["SubscriptionRequests"];
                if (requests == null)
                {
                    requests = new List<Models.SubscriptionRequest>();
                }
            }
            <div class="page-heading">Subscription Requests</div>
            <div class="clearfix"></div>
            <table class="table table-borderless table-success table-striped info-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Phone</th>
                        <th>Package</th>
                        <th>DateTime</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var u in requests)
                        {
                            <tr>
                                <td>@u.UserName</td>
                                <td>@u.PhoneNumber</td>
                                <td>@u.PackageName</td>
                                <td>@u.RequestDt</td>
                                <td>
                                    <a href="/SubscriptionRequest?id=(@u.Id)&action=confirm" onclick=""><i class="fa fa-check"></i></a>
                                    &nbsp;&nbsp;
                                    <a href="/SubscriptionRequest?id=@(u.Id)&action=cancel" onclick="" style="color:#FF0000;"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript"></script>
<script id="imageURL" type="text/x-template">
    <div class="image">
        <img src="${ProfilePicUrl}" alt="${ProfilePicUrl}" />
    </div>
</script>
<script id="idImage" type="text/x-template">
    <div class="image">
        <img src="${identification_image}" alt="${identification_image}" />
    </div>
</script>

<script id="subscription" type="text/x-template">
    <a class="lnk" href="/Subscription?user_id=${Id}">Subscriptions</a>
</script>
<script id="subscribed" type="text/x-template">
    <div>
        Subscribed
    </div>
</script>
<script id="unSubscribed" type="text/x-template">
    <div>
        UnSubscribed
    </div>
</script>
<script type="text/javascript">

    function cmdClick(args) {
        var data = args.rowData;
        if (args.commandColumn.type === "Edit") {

            location.href = "/User?id=" + data.Id;

        }
        if (args.commandColumn.type === "Delete") {
            if (confirm('Are you sure you want to delete?')) {
                local.href = "/User?id=" + data.Id + "&action=delete";
            }
        }
    }

    function loadMoreDetails(userId) {
        debugger;
        //if ($("#moreDetailsRow" + userId).css("display") != "none") {
        //    $("#moreDetailsRow" + userId).css("display", "none");
        //    $("#anchorMoreDetails" + userId).text("More Details");
        //    return;
        //}
        //$("#anchorMoreDetails" + userId).text("Loading...");
        //location.href = '/UserMoreDetails?user_id=' + userId;
        //console.log(pageUrl);
     
    }
    function txtChange(args) {
        $(".tab-pane").removeClass("active");
        $("#allUsers").show();
        var grid = document.getElementById("AllUsers").ej2_instances[0];
        grid.search(args.value);
        

    }
    function detailDataBound(args) {
        var pageUrl = '/UserMoreDetails?user_id=' + args.data.Id;
        debugger;
        //$("#moreDetails").load(pageUrl)
           $.ajax({
               url: pageUrl,
               beforeSend: function () {
                   $("#moreDetails").html('<img src="/images/Loading.gif" />');
               }
           }).done(function (result) {
               $("#moreDetails").html('');
            
            $("#moreDetails").html(result);
            
        });
    }
</script>
<script type="text/x-template" id="detailtemplate">

    <div id="moreDetails"></div>

</script>